/*
 * Class: SWE2511 - Weather Forecaster
 * Name: Kalkidan Vassar
 * Class Section: 131
*/

.map {
    height: 30em;
    width: 100%;
    margin: auto;
}

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
}

.map-container {
    height: 350px;
    width: 100%;
}

.forecast-card {
    min-width: 150px;
    max-width: 180px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
}

.forecast-scroll {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

.forecast-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

#errorDisplay {
    background-color: #ff5a4f;
    border-radius: 5px;
}